# Cuatro Cuadras #
## VISTAS##

In [1]:
USE CuatroCuadras

## 1
Vista que muestra los datos que los usuarios visualizaran sobre los otros usuarios

In [8]:
CREATE VIEW DatosBasicosUsuario
    AS
    SELECT Nickname, CONCAT(Nombre, ' ' ,Apellidos) as [Nombre Completo], Sexo, DATEDIFF(yy, Fecha_Nacimiento, GETDATE()) as Edad, Ciudad FROM USUARIO U
    INNER JOIN CIUDAD C 
    ON U.ID_Ciudad=C.ID_Ciudad

## 2
Vista que muestra los datos de interes para los usuarios acerca de los lugares a visitar

In [15]:
CREATE VIEW DatosBasicosLugares
    AS
    SELECT L.Nombre, L.Descripcion, Ciudad, Nombre_eti as Etiqueta, Cat.Descripcion as Categoria FROM LUGAR L 
    INNER JOIN CIUDAD C 
    ON L.ID_Ciudad=C.ID_Ciudad 
    INNER JOIN ETIQUETA E 
    ON L.ID_Etiqueta=E.ID_Etiqueta
    INNER JOIN CATEGORIA Cat 
    ON L.ID_Categoria=Cat.ID_Categoria