In [1]:
USE CuatroCuadras

# Cuatro Cuadras #
## Consultas##

## 1
Qué lugares son los más frecuentados por personas mayores a 45 años

In [8]:
SELECT TOP 3 count(*) AS visitas, L.ID_Lugar, L.Nombre FROM Lugar L
INNER JOIN Visita V  
ON L.ID_Lugar=V.ID_Lugar
INNER JOIN Usuario U 
ON V.Nickname=U.Nickname
WHERE U.Edad>45
GROUP BY L.ID_Lugar, L.Nombre

visitas,ID_Lugar,Nombre
1,5,Estadio Teodoro Mariscal
1,9,Pemex
1,10,Farmacia Guadalajara

## 2
Cuáles son los dos lugares menos visitados

In [11]:
SELECT TOP 2 count(*) AS Visitas, L.ID_Lugar, L.Nombre FROM LUGAR L 
INNER JOIN VISITA V 
ON L.ID_Lugar=V.ID_Lugar
GROUP BY L.ID_Lugar, L.Nombre
ORDER BY Visitas ASC

Visitas,ID_Lugar,Nombre
1,7,KFC Insurgentes
1,15,Banbajío

## 3
Cuáles son los lugares que tienen "muy malo" o "malo" como comentario y ningun "Muy Bueno", "bueno" o "excelente"

In [17]:
SELECT DISTINCT L.ID_Lugar, L.Nombre FROM Lugar L
INNER JOIN VISITA V 
ON L.ID_Lugar=V.ID_Lugar
WHERE v.Comentario LIKE '%malo%' AND V.ID_Lugar NOT IN 
(SELECT DISTINCT ID_Lugar FROM Visita WHERE Comentario LIKE '%bueno%' OR Comentario LIKE '%excelente%' OR Comentario LIKE '%Muy bueno%')

ID_Lugar,Nombre
13,USE Navolato

## 4
Cuáles son los 3 lugares qué cuentan con la mejor valoración

In [20]:
WITH Promedio (ID_Lugar, Nombre, Valoracion)
AS
(
    SELECT l.ID_Lugar, L.Nombre, AVG(V.Valoracion) AS ValoracionTotal FROM LUGAR L
    INNER JOIN VISITA V 
    ON L.ID_Lugar=V.ID_Lugar
    GROUP BY L.ID_Lugar, L.Nombre
)
SELECT TOP 3 * FROM Promedio
ORDER BY Valoracion DESC

ID_Lugar,Nombre,Valoracion
21,The Barber Shop,9
9,Pemex,8
10,Farmacia Guadalajara,8

## 5
Qué usuarios han obtenido cuando menos un logro

In [220]:
SELECT Nickname, CONCAT(Nombre, ' ', Apellidos) as Nombre FROM USUARIO U 
WHERE U.Nickname IN (SELECT Nickname FROM LOGRO_USUARIO)

Nickname,Nombre
AnaALV,Ana Maria Alvarez Castelo
Coronavirus,Angel Gomez Bravo
Luiz,Luis Lopez Lopez
SandCast,Sandra Flores Castilla
XxXGokuXxX,Juan Perez Perez

## 6
Cuáles han sido los usuarios que han hecho visitas en una ciudad distina a la de su origen

In [24]:
SELECT DISTINCT U.Nickname AS Usuario FROM USUARIO U 
INNER JOIN VISITA V 
ON U.Nickname=V.Nickname
INNER JOIN LUGAR L 
ON V.ID_Lugar=L.ID_Lugar
WHERE U.ID_Ciudad<>L.ID_Ciudad

Nickname
AlizV5
AnaALV
Angel224
Coronavirus
CuentaFeik
Diana129
Emilian99
GabiLuna
JoseCarl
Luiz
Mari
MenitaXD98
MigueMF
Panchogo94
SandCast
XxXGokuXxX

## 7
Qué usuarios han hecho amistad con usuarios de una ciudad distinta a la de ellos

In [38]:
SELECT A.Nickname1 AS [Usuario 1], A.Nickname2 AS [Usuario 2] FROM AMIGO A 
INNER JOIN USUARIO U 
ON A.Nickname1=U.Nickname
INNER JOIN USUARIO U2 
ON A.Nickname2=U2.Nickname
WHERE U.ID_Ciudad<>U2.ID_Ciudad

Usuario 1,Usuario 2
AnaALV,Mari
Angel224,Diana129
Coronavirus,Angel224
Diana129,Mari
Emilian99,AnaALV
GabiLuna,RamLop99
JoseCarl,MenitaXD98
JoseCarl,XxXGokuXxX
Luiz,Coronavirus
Luiz,Mari
MigueMF,AlizV5
Panchogo94,CuentaFeik
Panchogo94,MenitaXD98
RamLop99,AnaALV
SandCast,CuentaFeik
SandCast,Panchogo94

## 8
Se requiere saber el lugar más frecuentado por mujeres

In [37]:
WITH Frecuencia(Nombre, Visitas )
AS 
(
    SELECT L.Nombre, count(*) AS Visitas FROM LUGAR L 
    INNER JOIN VISITA V 
    ON L.ID_Lugar=V.ID_Lugar
    INNER JOIN USUARIO U 
    ON V.Nickname=U.Nickname
    WHERE U.Sexo='F'
    GROUP BY L.Nombre
)
SELECT TOP 1 * FROM Frecuencia
ORDER BY Visitas DESC

Nombre,Visitas
Estadio Teodoro Mariscal,3

## 9
Conocer todos los usuarios que han comentado con "Muy malo" a sus visitas

In [31]:
SELECT U.Nickname FROM VISITA V 
INNER JOIN USUARIO U 
ON V.Nickname=U.Nickname 
WHERE V.Comentario='Muy malo'

Nickname
Angel224
Luiz
Coronavirus
SandCast
XxXGokuXxX

## 10
Se desea saber cuál es el promedio de valoración de todos los lugares

In [36]:
SELECT L.Nombre,  AVG(V.Valoracion) AS Valoracion FROM LUGAR L 
INNER JOIN VISITA V 
ON L.ID_Lugar=V.ID_Lugar 
GROUP BY L.Nombre

Nombre,Valoracion
Aeropuerto Internacional de Tijuana,7
Banbajío,6
Cinemex Navolato,7
Estadio Teodoro Mariscal,7
Estadio Tomateros,7
Farmacia Guadalajara,8
Fühler,6
Hospital Ángeles,6
KFC Insurgentes,2
Ley Primavera,7
MUSIK,6
Panamá Insurgentes,6
Parque Sinaloa,6
Pemex,8
Sams Club 3 Rios,5
Sears Plaza Rio,6
Soriana Hiper,6
Taipak MonteCarlo,7
The Barber Shop,9
USE Navolato,6
Zona de Vestir Medrano,8

## 11
Cuál es el lugar más visitado con la etiqueta de "Beisbol"

In [13]:
SELECT TOP 1 L.Nombre, COUNT(*) as Visitas FROM Lugar L
INNER JOIN Etiqueta E ON L.ID_Etiqueta=E.ID_Etiqueta
INNER JOIN Visita V on L.ID_Lugar=V.ID_Lugar
WHERE E.Nombre_eti='Beisbol'
GROUP BY L.Nombre

Nombre,Visitas
Estadio Teodoro Mariscal,5

## 12
Cuál es el lugar menos visitado de Tijuana

In [21]:
SELECT TOP 1 L.Nombre, COUNT(*) as Visitas FROM Lugar L
INNER JOIN Visita V ON L.ID_Lugar=V.ID_Lugar
INNER JOIN Ciudad C ON L.ID_Ciudad=C.ID_Ciudad
WHERE Ciudad='Tijuana'
GROUP BY L.Nombre
ORDER BY COUNT(*) ASC

Nombre,Visitas
The Barber Shop,2

## 13
Cuales son los 5 lugares más visitados del 2018 además de la ciudad que pertenecen

In [32]:
SELECT TOP 5 L.Nombre, C.Ciudad, COUNT(*) as Visitas FROM Lugar L
INNER JOIN Visita V ON L.ID_Lugar=V.ID_Lugar
INNER JOIN Ciudad C ON L.ID_Ciudad=C.ID_Ciudad
WHERE YEAR(Fecha)=2018
GROUP BY L.Nombre, C.Ciudad
ORDER BY Visitas DESC

Nombre,Ciudad,Visitas
Taipak MonteCarlo,Culiacán,3
Parque Sinaloa,Los Mochis,3
Estadio Teodoro Mariscal,Mazatlán,2
Pemex,Mazatlán,2
Ley Primavera,Navolato,2

## 14
Qué ciudad tiene menos visitas registradas

In [36]:
SELECT TOP 1 C.Ciudad, COUNT(*) Visitas FROM Ciudad C
INNER JOIN Lugar L ON C.ID_Ciudad=L.ID_Ciudad
INNER JOIN Visita V ON L.ID_Lugar=V.ID_Lugar
GROUP BY C.Ciudad
ORDER BY Visitas ASC

Ciudad,Visitas
Guasave,1

## 15
Los lugares más visitados de los últimos 3 meses

In [168]:
SELECT L.Nombre, COUNT(*) as Visitas,
CASE
    WHEN MONTH(Fecha)=1 THEN 'Enero'
    WHEN MONTH(Fecha)=2 THEN 'Febrero'
    WHEN MONTH(Fecha)=3 THEN 'Marzo'
    WHEN MONTH(Fecha)=4 THEN 'Abril'
    WHEN MONTH(Fecha)=5 THEN 'Mayo'
    WHEN MONTH(Fecha)=6 THEN 'Junio'
    WHEN MONTH(Fecha)=7 THEN 'Julio'
    WHEN MONTH(Fecha)=8 THEN 'Agosto'
    WHEN MONTH(Fecha)=9 THEN 'Septiembre'
    WHEN MONTH(Fecha)=10 THEN 'Octubre'
    WHEN MONTH(Fecha)=11 THEN 'Noviembre'
    WHEN MONTH(Fecha)=12 THEN 'Diciembre'
END AS Mes
FROM Visita V
INNER JOIN Lugar L ON V.ID_Lugar=L.ID_Lugar
WHERE Fecha BETWEEN DATEADD(MM, -3, GETDATE()) AND GETDATE()
GROUP BY L.Nombre, MONTH(Fecha)

Nombre,Visitas,Mes
Farmacia Guadalajara,1,Enero
MUSIK,1,Enero
Panamá Insurgentes,1,Febrero
Parque Sinaloa,1,Febrero
Pemex,1,Febrero
USE Navolato,1,Febrero
Hospital Ángeles,1,Marzo
Sams Club 3 Rios,1,Marzo
Sears Plaza Rio,2,Marzo

## 16
Cuáles son los 5 mayores interéses de los usuarios

In [175]:
SELECT TOP 5 I.Interes, COUNT(*) AS Total FROM Interes_Usuario U
INNER JOIN Interes I ON U.ID_Interes=I.ID_Interes
GROUP BY I.Interes
ORDER BY Total DESC

Interes,Total
Escritura,2
Coleccionismo,2
Medicina,2
Música,2
Voluntariado,2

## 17
Los usuarios que no han registrado visitas

In [178]:
SELECT U.Nickname FROM Usuario U
WHERE Nickname NOT IN (SELECT Nickname FROM Visita)

Nickname
RamLop99

## 18
Los lugares que visita la persona de menor edad

In [187]:
DECLARE @Menor INT
SELECT @Menor=MIN(Edad) FROM Usuario

SELECT DISTINCT L.Nombre FROM Lugar L
INNER JOIN Visita V ON L.ID_Lugar=V.ID_Lugar
INNER JOIN Usuario U ON V.Nickname=U.Nickname
WHERE U.Edad=@Menor

Nombre
MUSIK
Sams Club 3 Rios
The Barber Shop

## 19
Obtener los 5 lugares más visitados por personas entre 18 y 23 años

In [190]:
SELECT TOP 5 COUNT(*) AS Visitas, L.Nombre FROM VISITA V
INNER JOIN USUARIO U ON V.Nickname = U.Nickname
INNER JOIN Lugar L ON L.ID_Lugar=V.ID_Lugar
WHERE U.Edad>=18 AND U.Edad<23
GROUP BY L.Nombre
ORDER BY Visitas DESC

Visitas,Nombre
2,Pemex
2,Parque Sinaloa
2,Hospital Ángeles
2,Sears Plaza Rio
1,Estadio Tomateros

## 20
Los lugares que tienen calificacion por debajo del promedio

In [225]:
Declare @promedio INT
Select @promedio=AVG(Valoracion) from Visita

SELECT L.Nombre, AVG(V.Valoracion) as Promedio FROM Lugar L
INNER JOIN Visita V ON V.ID_Lugar=L.ID_Lugar
GROUP BY L.Nombre
HAVING AVG(V.Valoracion)<@promedio
ORDER BY Promedio

Nombre,Promedio
KFC Insurgentes,2
Sams Club 3 Rios,5
Sears Plaza Rio,6
Soriana Hiper,6
USE Navolato,6
MUSIK,6
Panamá Insurgentes,6
Parque Sinaloa,6
Banbajío,6
Fühler,6
Hospital Ángeles,6

## 21
Registros de las visitas con la mayor califación

In [10]:
DECLARE @Max INT
SELECT @Max=Max(Valoracion) FROM Visita

SELECT Nickname, COALESCE(Comentario, ' ') as Comentarios, Valoracion, Fecha FROM Visita
WHERE Valoracion=@Max

Nickname,Comentarios,Valoracion,Fecha
JoseCarl,Excelente,10,2018-03-20 03:12:00.0000000
AnaALV,Muy Bueno,10,2019-04-11 08:40:00.0000000
Mari,Excelente,10,2019-09-08 08:30:00.0000000
AnaALV,Excelente,10,2018-04-10 20:29:00.0000000
SandCast,Excelente,10,2018-03-03 08:17:00.0000000
Diana129,Excelente,10,2020-03-08 00:40:00.0000000
Emilian99,regular,10,2019-10-29 15:45:00.0000000
Mari,Excelente,10,2018-07-15 16:20:00.0000000
Coronavirus,Excelente,10,2018-04-24 16:56:00.0000000
Coronavirus,Excelente,10,2019-08-28 18:34:00.0000000
XxXGokuXxX,Excelente,10,2019-09-30 17:17:00.0000000
CuentaFeik,Excelente,10,2019-05-12 00:20:00.0000000
AlizV5,Excelente,10,2019-09-13 11:55:00.0000000
XxXGokuXxX,,10,2019-11-14 18:04:00.0000000